body {
  background-color: #EBE8EF;
  color: #222;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.tekst{
  margin: 25px;
  color: #fff;
}
nav {
  background-color: #fff;
  border: 1px solid #dedede;
  color: #888;
  display: block;
  margin: 8px 22px 8px 22px;
  width: 98%;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  transition: all 0.2s;
}

nav > ul > li > a {
  color: #aaa;
  display: block;
  line-height: 56px;
  padding: 0 24px;
  text-decoration: none;
}

nav > ul > li > a > .show-content {
  border-top: 4px solid #aaa;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;
  transition: color 0.1s linear;
}

nav > ul > li:hover {
  background-color: rgb(40,44,47);
}

nav > ul > li:hover > a {
  color: rgb(255,255,255);
}

nav > ul > li:hover > a > .show-content {
  border-top-color: rgb(255,255,255);
}


nav > ul > li > div ul > li {
  display: block;
}

nav > ul > li > div ul > li > a {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  color: #fff;
}


nav > ul > li > div ul > li:hover > a {
  background-color: rgba(255,255,255,0.1);
}

nav > ul > li > div {
  background-color: rgb(40,44,47);
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.255);
  margin: 0;
  width: 165px;
  position: absolute;
  opacity: 0;
  display: none;
  visibility: hidden;
  z-index: 100;
  transition: opacity 0.2s;
}

nav > ul > li:hover > div {
  display: block;
  opacity: 1;
  visibility: visible;
}
li:nth-child(1) a {
  border-color: #636393;
}
li:nth-child(2) a {
  border-color: #B5222D;
}
li:nth-child(3) a {
  border-color: #D4953C;
}
li:nth-child(4) a {
  border-color: #609491;
}
li:nth-child(5) a {
  border-color: #87A248;
}
li:nth-child(1) a:hover {
  border-bottom: 35px solid #636393;
  height:9px;
}
li:nth-child(2) a:hover {
  border-bottom: 35px solid #B5222D;
  height:9px;
}
li:nth-child(3) a:hover {
  border-bottom: 35px solid #D4953C;
  height:9px;
}
li:nth-child(4) a:hover {
  border-bottom: 35px solid #609491;
  height:9px;
}
li:nth-child(5) a:hover {
  border-bottom: 35px solid #87A248;
  height:9px;
}

table, th, td {
    border: 1px solid #fff;
}
th, td{
	color: #fff;
}
th, td {
    padding: 15px;
}

table{
	border-spacing: 5px;
}

.TRechts {
	width : 80%;
}

img.right { 
	float: right; 
	margin: 10px; 
	border: 1px solid #999; 
	clear: right;
}
* {
  margin:0;
  padding:0;
  /*border:1px solid #f20;*/
}
html {  height: 100%; }
body {
  background-image: -webkit-radial-gradient(top center,#333,#000);
}
#footer li span img.profix {
  float: left;
  width: 80px;
  border-radius: 100%;
  margin-right: 13px;
}
#footer {
  font-family: arial;
  font-size: 12px;
  background-color: #000;
  width: 100%;
  position: absolute;
  border-top:1px solid rgba(255,255,255,0.2);
  bottom:0; left:0;
  box-shadow: 1px 1px 50px #000;
  height: 30px;
}
#footer ul {
  float: left;
  list-style: none;
  padding: 4px;
}
#footer ul li {
  float: left;
  list-style: none;
}

#footer ul li span {
  position: absolute;
  display: none;
  width: 350px;
  color:#fff;
  text-shadow: 0 0 1px #000;
  border-radius: 8px 8px 0 0;
  background-color: rgba(0,0,0,0.3);
  padding: 8px;
  float: left;
  bottom: 30px;
  overflow: auto;
  z-index: -1;
}

#footer ul li a {
  color: #ffaa00;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
#footer ul li a:hover {
  color: #ffc;  
}
#footer li a.show-content:hover span {
  display: block;
}
#footer span.single-col{
  width: 180px;
}
#footer span.double-col{
  width: 280px;
}

#footer span h1{
  font-size: 15px;
  margin-bottom: 12px;
}
#footer span form#contactform{
  width: 180px;
  margin-bottom: 12px;
}
#footer span form#contactform input, #footer textarea{
  width: 97%;
  padding: 2px 0 2px 2px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #ffffcc;
}


